.barbell {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

%barbell__side {
    width: 20%;
    display: flex;
    align-items: center;
    background: black;
    border: 1px solid black;
}

.barbell__left {
    @extend %barbell__side;
    justify-content: flex-end;
}

.barbell__right {
    @extend %barbell__side;
    justify-content: flex-start;
}

.barbell__bar {
    width: 60%;
    background: black;
    border: 1px solid black;
}

.barbell__plate {
    background: black;
    border: 1px solid black;
}